<div class="span2">
    <!--Sidebar content-->

    Search: <input class="span12" ng-model="query">
    Sort ddwwby:
    <select class="span12" ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Neaaawest</option>
    </select>

    <div class="progress progress-indeterminate">
        <div class="win-ring small"></div>
    </div>

</div>
<div class="span10">
    <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
            <a href="/phones/{{phone.id}}" class="thumb"><img ng-src="{{'/web/'+phone.imageUrl}}"></a>
            <a href="/phones/{{phone.id}}">{{phone.name}}</a>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>
</div>